body {
  font-size: 20px;
  color: #333333;
  font-family: 'Lora', 'Times New Roman', serif; }

p {
  line-height: 1.5;
  margin: 30px 0;
  text-align: justify;
}
  p a {
    text-decoration: underline; 
}
h1{
    color: black;
    font-weight: 600;
}
h2{
    color: green;
    font-weight: bold;
    text-align: center;
}
h3{
    text-align: center;
}

a {
  color: green;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s; }
  a:focus, a:hover {
    color: #0085A1; 
}
nav div button{
    color: orangered;
    font-weight: bold;
}
#titulo{
    color: #e5f8e8;
    font-size: 1.5em;
    font-weight: 600;
}
.nav-link {
	color:#dae6e0;
    font-weight: 300;
}
.nav-link:hover{
  color: orange;
}
#mainNav {
	background:rgba(0,0,0,0.95)
}

header{
    position: relative;
    margin-top: 100px;
    text-align: center;
}
footer {
    background-color: black;
    color: white;
    padding: 10px 0 10px; }
  footer .list-inline {
    margin: 0;
    padding: 0; }
  footer .copyright {
    font-size: 14px;
    margin-bottom: 0;
    text-align: center; 
}
#logo {
    width: 60px;
    height: 50px;
    margin-right: 5px;
}
@media (max-width: 630px){
    body{
        font-size: 1em;
    }
    .row{
        margin: 0.5em;
    }
}
