body {
  font-size: 20px;
  color: #333333;
  font-family: 'Lora', 'Times New Roman', serif; }

p {
  line-height: 1.5;
  margin: 30px 0; }
  p a {
    text-decoration: underline; 
}
h1{
    color: black;
    font-weight: 600;
}
h2{
    color: green;
    font-weight: bold;
    text-align: center;
}
h3{
    text-align: center;
}

a {
  color: green;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s; }
  a:focus, a:hover {
    color: #0085A1; 
}
nav div button{
    color: orangered;
    font-weight: bold;
}
#titulo{
    color: #e5f8e8;
    font-size: 1.5em;
    font-weight: 600;
}
.nav-link {
	color:#dae6e0;
    font-weight: 300;
}
.nav-link:hover{
  color: orange;
}
#mainNav {
	background:rgba(0,0,0,0.95)
}
header.masthead {
  margin-bottom: 50px;
  background: no-repeat center center;
  background-color: #777777;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}
  header.masthead .site-heading {
    padding: 200px 0 150px;
    color: white; }
  header.masthead .site-heading {
    text-align: center; }
    header.masthead .site-heading h1 {
      font-size: 50px;
      margin-top: 0; 
}


footer {
    background-color: black;
    color: white;
    padding: 10px 0 10px; }
  footer .list-inline {
    margin: 0;
    padding: 0; }
  footer .copyright {
    font-size: 14px;
    margin-bottom: 0;
    text-align: center; 
}

article{
    border: 2px solid tomato;
    border-radius: 10px;
    padding: 1em;
    margin: 10px;
}
@media (max-width: 630px){
    body{
        font-size: 1em;
    }
    article{
        border: 2px solid green;
        border-radius: 20px;
        padding: 1em;
    }
}
