<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="InfoDistrux Ofrece un pequeño pero muy importante resumen de las distribuciones de linux mas populares en la actualidad">
    <meta name="author" content="Kathleen Escoto Montano, Rodrigo Presa Mariona, Jocelyn Lara">
    <meta name="keywords" content="infodistrux, InfoDistruX, distros linux">
    

    <title>Acerca de InfoDistruX</title>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script type="text/javascript" src="https://ff.kis.v2.scr.kaspersky-labs.com/64DF18E7-2795-6641-B70D-DA5D8F1B84AB/main.js" charset="UTF-8"></script><script async src="https://www.googletagmanager.com/gtag/js?id=UA-108054132-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-108054132-1');
    </script>
    
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="../css/aboutUs.css" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-expand-lg fixed-top" id="mainNav" >
      <div class="container">
        <a class="navbar-brand" href="../index.html" id="titulo"><img src="../images/logoPinguino.png" alt="Logo InfoDistruX" id="logo">InfoDistruX</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="../index.html">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Acerca de Nosotros</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <header class="container">
        <h1>Acerca de Nosotros: InfoDistruX</h1>
    </header>
    
    <section class="container">
    <!--
    
   
    EDITE AQUI EL CONTENIDO DE LA PAGINA ACERCA DE NOSTROS QUITE EL COMENTARIO XFA.
    
     Borre el parrafo siguiente que es solo para rellenar espacio
    
    
    
    
    
    
    
    
    
    
    -->
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi nulla omnis, ut! Totam itaque ea in assumenda debitis porro facilis eos, non fuga aliquam? Vitae corrupti, odio error similique architecto. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi ad tempore, suscipit fugit alias molestiae harum et obcaecati tenetur dolorem voluptate tempora numquam, blanditiis veniam. Nostrum maiores unde, numquam excepturi? 
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi nulla omnis, ut! Totam itaque ea in assumenda debitis porro facilis eos, non fuga aliquam? Vitae corrupti, odio error similique architecto. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi ad tempore, suscipit fugit alias molestiae harum et obcaecati tenetur dolorem voluptate tempora numquam, blanditiis veniam. Nostrum maiores unde, numquam excepturi?
    </p>
    </section>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="https://twitter.com/InfoDistruX">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.facebook.com/InfoDistruX/">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://sites.google.com/view/infodistrux/home-infodistrux">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-google fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; InfoDistruX 2017</p>
          </div>
        </div>
      </div>
    </footer>

    <script
			  src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>


  </body>

</html>